<div class="title">Active Record</div>

<section>
  <p>Active record is what we use to talk to our database from our ruby back end. It lets us link our models to our tables. It also gives us a ton of methods we can use on these tables to create, read, update and delete information in our tables.</p>
</section>
<!-- create -->
<!-- read -->
<!-- update -->
<!-- delete -->
<!-- Explanation of models -->