<div class="title">challenges</div>

<!-- REPL? -->

<!-- Write a function that: -->

<!-- Correct this broken code: -->

<!-- Fix this poorly indented code.  -->

<!-- Make this HTML look like this mockup using css -->

<!-- CSS shapes challenges: make a heart, make a christmas tree -->

<section>
  <div class="title">CSS Shapes</div>
  <p>There are so many awesome things you can do with css. One of them is use it to make pictures or draw shapes. Try first to make simple shapes (Can you get a circle? A triangle?) And then, try to recreate these pictures: </p>
  <div class="heart">
    <div class="cirle"></div>
    <div class="cirle"></div>
    <div class="diamond"></div>
  </div>
</section>
<!--  CSS animations -->