<div class="css">
	<div class="row css-header">
		<div class="four column"><span class="css-title">CSS</span></div>
		<div class="eight column">
			<div class="tag-line">Cascading Style Sheets</div>
			<div class="links">
				<a href="#text-styles">Text Styles</a> |
				<a href="#box-model">Box Model</a> |
				<a href="#specificity">Specificity</a>
			</div>
		</div>
	</div>
	<section id="syntax">
		<div class="topic-title">CSS syntax</div>
		<img src="/images/css-example.png" alt="css-example">
	</section>
	<section id="classes-ids">
		<div class="topic-title">Classes & IDs</div>
		<div class="row">
			<div class="six column">
				<div class="column-title">Classes</div>
				<p>A class is a group of elements that are the same or similar. You can have as many elements as you want in a class. Each element can also be a member of multiple classes.</p>
				<div class="code">
					.blog-title {
					<br>
					&nbsp;&nbsp;background: blue;
					<br>
					&nbsp;&nbsp;font-size: 25px;
					<br>
					}
				</div>
			</div>
			<div class="six column">
				<div class="column-title">IDs</div>
				<p>An ID is a singular identifier of ONE html tag. You can only have one HTML tag per ID and each HTMl tag can only have on ID.</p>
				<div class="code">
					#main {
					<br>
					&nbsp;&nbsp;width: 200px;
					<br>
					}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="twelve column">
				<div class="column-title">Tips</div>
				<p>Try to use a name that relates to what the element is, not how it looks. It might seem like a great idea to name a div '.right-col', but what if later on we want to move that same div to the left? It could cause some confusion.</p>
				<p></p>
			</div>
		</div>
		
	</section>
	<section id="text-styles">
		<div class="topic-title">Text Styles</div>
		<div class="row">
			<div class="four column">
				<div class="column-title">color</div>
				<p>Sets the font color. Accepts either the color name, hex value of the color, or RGBA (allows you to set transparency).</p>
				<div class="code">
					color: purple;
					<br>
					color: #800080;
					<br>
					color: rgba(128, 0, 128, 0.8);
				</div>
			</div>
			<div class="four column">
				<div class="column-title">font-style</div>
				<p>If you want to style your text italic with css instead of < em > HTML tags: normal, italic, oblique.</p>
				<div class="code">
					font-style: italic;
				</div>
			</div>
			<div class="four column">
				<div class="column-title">text-decoration</div>
				<p>Underline, overline, line-through, none. This can be used to remove the default underline on < a > tags.</p>
				<div class="code">
					text-decoration: none;
				</div>
			</div>
		</div>
		<div class="row">
			<div class="column four">
				<div class="column-title">font-family</div>
				<p>Sets the font for the text. Can be a prioritized list of fonts; if the first font listed is not available in the browser, it will default to the second, and so on.</p>
				<div class="code">
					font-family: Helvetica, Arial, sans-serif
				</div>
			</div>
			<div class="column four">
				<div class="column-title">font-weight</div>
				<p>Style your text bold without the < strong > HTMl tags: normal, bold, bolder, lighter or a number from 100 to 900.</p>
				<div class="code">
					font-weight: bold;
				</div>
			</div>
			<div class="column four">
				<div class="column-title">line-height</div>
				<p>The default is for the line height to be equivalent to the font-size. Accepts pixels, em, numbers or percentages.</p>
				<div class="code">
					line-height: 150%
				</div>
			</div>
		</div>
		<div class="row">
			<div class="four column">
				<div class="column-title">text-align</div>
				<p>Sets the alignment of the text - left, right, center or justify - the same options you have in Word</p>
				<div class="code">
					text-align: center;
				</div>
			</div>
			<div class="four column">
				<div class="column-title">text-transform</div>
				<p>Allows you to make all your text uppercase or lowercase: capitalize, uppercase, lowercase</p>
				<div class="code">
					text-transform: uppercase;
				</div>
			</div>
			<div class="four column">
				<div class="column-title">letter-spacing</div>
				<p>Sets the space between letters. Accepts pixels or ems, also accepts negative values.</p>
				<div class="code">
					letter-spacing: -2px;
				</div>
			</div>
		</div>
	</section>
	<section id="box-model">
		<div class="topic-title">Box Model</div>
		<p>
			Every element in an HTML document can be considered a box. Each box has characteristics like width, height, border, margin and padding.
		</p>
		<div class="row">
			<div class="six column">
				<div class="column-title">Height & Width</div>
				<p>Set the height and width of an element. Accepts either pixel dimensions or percentages. Percentages set the height and with relative to it's parent element.</p>
				<div class="code">
					width: 200px;
					<br>
					height: 100%;
				</div>
			</div>
			<div class="six column">
				<div class="column-title">Margin & Padding</div>
				<p>
					Margin sets the distance between one element and the adjacent element. Margin pushes elements away from one another. Padding, makes the element itself bigger.
				</p>
				<div class="code">
					padding: 20px;
					<br>
					margin: 10px;
				</div>
			</div>
		</div>
	</section>
	<section id="specificity">
		<div class="topic-title">Specificity</div>
		<ol>
			<li>ID Selectors (#my-paragraph)</li>
			<li>Class Selectors (.my-paragraph)</li>
			<li>Nested Tags (article p)</li>
			<li>Tag Selectors (p)</li>
		</ol>
	</section>
	<section id="helpful-links">
		<div class="topic-title">Helpful Links</div>
		<a href=""></a>
	</section>
</div>
<!-- 
	Things to add :
	 - Media Queries
	 - background, layout, z-index, inheritance etc.
 -->