<div>
	What's the deal with git?
</div>

<div>
	Common Git Commands
</div>

<h3>Getting Started</h3>
<ul>
	<li>git init</li>
	<li>git add .</li>
	<li>git commit -m "Write message here"</li>
	<li></li>
</ul>

<h3>Handy git commands</h3>
<ul>
	<li>git status</li>
	<li>git diff</li>
	<li>git add /path/to/file</li>
	<li>git stash</li>
</ul>

<h3>Branches, Branches, Branches</h3>
	<div class="info">
		What is a branch?
	</div>
<ul>
	<li>git checkout -b branchname</li>
	<li>git checkout branchname</li>
	<li>git merge branchname</li>
	<li>git branch -a</li>
	<li>git branch -d branchname</li>
</ul>

<h3>Errors? WTF.</h3>