<div class="title">HTML</div>

<!-- Tips on keeping HTML tidy -->
<section>
  <p>If you can't read your code, you can't find your mistakes. Most times, your mistakes are going to be something small, like forgetting to close a string, a missing equals on an attribute or a missing closing tag. </p>
  <p>Properly indenting your code helps you find these little syntax errors so much faster, and in turn, makes you a faster developer.</p>
</section>
<!-- Add Example -->
<section>
  <p>If your code is properly indented and nice and clean, here's a few common mistakes to double check: </p>
  <ul>
    <li>All your tags (that need them) have a closing tag</li>
    <li>All your quotation marks are accounted for</li>
  <!-- add more here -->
  </ul>
</section>

<section>
  Comment your code
</section>