<section class="title">
	<h1> Cheat Sheets </h1>
</section>
<section class="links">
	<a href="/css">
		<div class="main-link">
			CSS
		</div>
	</a>	
	<a href="/html">
		<div class="main-link">
			HTML
		</div>
	</a>	
	<a href="/ruby">
		<div class="main-link">
			Ruby
		</div>
	</a>	
	<a href="/sinatra">
		<div class="main-link">
			Sinatra
		</div>
	</a>	
	<a href="/git">
		<div class="main-link">
			Git
		</div>
	</a>	
	<a href="/terminal">
		<div class="main-link">
			terminal
		</div>
	</a>	
</section>