<section class="title">
	<h1> Cheat Sheets </h1>
</section>
<section class="links">
	<a href="/css">
		<div class="topic-link">
			CSS
		</div>
	</a>	
	<a href="/html">
		<div class="topic-link">
			HTML
		</div>
	</a>	
	<a href="/ruby">
		<div class="topic-link">
			Ruby
		</div>
	</a>	
	<a href="/sinatra">
		<div class="topic-link">
			Sinatra
		</div>
	</a>	
	<a href="/git">
		<div class="topic-link">
			Git
		</div>
	</a>	
	<a href="/active-record">
		<div class="topic-link">
			Active Record
		</div>
	</a>
	<a href="/challenges">
		<div class="topic-link">
			Coding Challenges
		</div>
	</a>
</section>