<section>
	<div class="row">
		<div class="four columns">
			<img src="https://www.ruby-lang.org/images/header-ruby-logo.png" alt="ruby-logo">
			<div class="css-title"></div>Ruby
		</div>
		<div class="eight">
			
		</div>
	</div>
</section>
<!--  DATA types -->

<!--  Error messages -->

<!-- Loops -->

<!-- Wait, then what's erb? -->